.idea/**
CH50_package_sample/__pycache__/utils.cpython-35.pyc
CH50_package_sample/__pycache__/models.cpython-35.pyc
CH50_package_sample/__pycache__/__init__.cpython-35.pyc
CH50_package_sample/analysis/__pycache__/utils.cpython-35.pyc